{{#each error}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<div class="card card-body">
    <h3>
        Edit video Idea
    </h3>
    <form action="/ideas/{{id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text " class="form-control" name="title" value="{{title_edit}}" >
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea class="form-control" name="details" value="">{{body_edit}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>